# Movielens Recommendations
By Tanay Trivedi and Jonathan Bair

In [1]:
import numpy as np
import pandas as pd

rat = pd.read_csv('ratings.csv', sep='\t')[['movie_id','user_id', 'timestamp','rating']]
user = pd.read_csv('users.csv', sep='\t')[['age_desc', 'occ_desc','user_id', 'gender', 'zipcode']]
movie = pd.read_csv('movies.csv', sep='\t')[['movie_id', 'title', 'genres']]

In [2]:
print("Number of users: "+str(rat.user_id.unique().shape[0]))
print("Number of movies: "+str(rat.movie_id.unique().shape[0]))

Number of users: 6040
Number of movies: 3706

In [3]:
rat

         movie_id  user_id  timestamp  rating
0            1193        1  978300760       5
1             661        1  978302109       3
2             914        1  978301968       3
3            3408        1  978300275       4
4            2355        1  978824291       5
5            1197        1  978302268       3
6            1287        1  978302039       5
7            2804        1  978300719       5
8             594        1  978302268       4
9             919        1  978301368       4
10            595        1  978824268       5
11            938        1  978301752       4
12           2398        1  978302281       4
13           2918        1  978302124       4
14           1035        1  978301753       5
15           2791        1  978302188       4
16           2687        1  978824268       3
17           2018        1  978301777       4
18           3105        1  978301713       5
19           2797        1  978302039       4
20           2321        1  978302205       3
21            720        1  978300760       3
22           1270        1  978300055       5
23            527        1  978824195       5
24           2340        1  978300103       3
25             48        1  978824351       5
26           1097        1  978301953       4
27           1721        1  978300055       4
28           1545        1  978824139       4
29            745        1  978824268       3
...           ...      ...        ...     ...
1000179      2762     6040  956704584       4
1000180      1036     6040  956715455       3
1000181       508     6040  956704972       4
1000182      1041     6040  957717678       4
1000183      3735     6040  960971654       4
1000184      2791     6040  956715569       4
1000185      2794     6040  956716438       1
1000186       527     6040  956704219       5
1000187      2003     6040  956716294       1
1000188       535     6040  964828734       4
1000189      2010     6040  957716795       5
1000190      2011     6040  956716113       4
1000191      3751     6040  964828782       4
1000192      2019     6040  956703977       5
1000193       541     6040  956715288       4
1000194      1077     6040  964828799       5
1000195      1079     6040  956715648       2
1000196       549     6040  956704746       4
1000197      2020     6040  956715288       3
1000198      2021     6040  956716374       3
1000199      2022     6040  956716207       5
1000200      2028     6040  956704519       5
1000201      1080     6040  957717322       4
1000202      1089     6040  956704996       4
1000203      1090     6040  956715518       3
1000204      1091     6040  956716541       1
1000205      1094     6040  956704887       5
1000206       562     6040  956704746       5
1000207      1096     6040  956715648       4
1000208      1097     6040  956715569       4

[1000209 rows x 4 columns]

In [4]:
Rat = rat.pivot(index = 'user_id', columns ='movie_id', values = 'rating')
Rat=Rat.fillna(0)
Rat.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
user_mean=Rat.mean(axis=1)
Rat_z = Rat.subtract(user_mean,axis=0)

# SVD

In [6]:
from scipy.sparse.linalg import svds
U, S, V = svds(Rat_z, k = 50)

In [7]:
Sigma = np.diag(S)

In [9]:
predicted_ratings = np.dot(np.dot(U, Sigma), V) + user_mean.values.reshape(-1, 1)

In [11]:
preds = pd.DataFrame(predicted_ratings, columns = Rat.columns)
preds.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
0,4.288861,0.143055,-0.195080,-0.018843,0.012232,-0.176604,-0.074120,0.141358,-0.059553,-0.195950,...,0.027807,0.001640,0.026395,-0.022024,-0.085415,0.403529,0.105579,0.031912,0.050450,0.088910
1,0.744716,0.169659,0.335418,0.000758,0.022475,1.353050,0.051426,0.071258,0.161601,1.567246,...,-0.056502,-0.013733,-0.010580,0.062576,-0.016248,0.155790,-0.418737,-0.101102,-0.054098,-0.140188
2,1.818824,0.456136,0.090978,-0.043037,-0.025694,-0.158617,-0.131778,0.098977,0.030551,0.735470,...,0.040481,-0.005301,0.012832,0.029349,0.020866,0.121532,0.076205,0.012345,0.015148,-0.109956
3,0.408057,-0.072960,0.039642,0.089363,0.041950,0.237753,-0.049426,0.009467,0.045469,-0.111370,...,0.008571,-0.005425,-0.008500,-0.003417,-0.083982,0.094512,0.057557,-0.026050,0.014841,-0.034224
4,1.574272,0.021239,-0.051300,0.246884,-0.032406,1.552281,-0.199630,-0.014920,-0.060498,0.450512,...,0.110151,0.046010,0.006934,-0.015940,-0.050080,-0.052539,0.507189,0.033830,0.125706,0.199244

In [12]:
def recommend(userID):
    sorted_preds = preds.iloc[userID - 1].sort_values(ascending=False) 
    user_data = rat[rat.user_id == (userID)]
    user_full = (user_data.merge(movie, how = 'left', left_on = 'movie_id', right_on = 'movie_id').
                     sort_values(['rating'], ascending=False)
                 )
    recommendations = (movie[~movie['movie_id'].isin(user_full['movie_id'])].
         merge(pd.DataFrame(sorted_preds).reset_index(), how = 'left',
               left_on = 'movie_id',
               right_on = 'movie_id').
         rename(columns = {(userID-1): 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:, :-1]
                      )

    return recommendations

In [15]:
predictions = recommend(1024)

In [16]:
predictions

,movie_id,title,genres
1250,1296,"Room with a View, A (1986)",Drama|Romance
349,357,Four Weddings and a Funeral (1994),Comedy|Romance
36,39,Clueless (1995),Comedy|Romance
895,919,"Wizard of Oz, The (1939)",Adventure|Children's|Drama|Musical
1139,1172,Cinema Paradiso (1988),Comedy|Drama|Romance
2141,2248,Say Anything... (1989),Comedy|Drama|Romance
1345,1393,Jerry Maguire (1996),Drama|Romance
1963,2067,Doctor Zhivago (1965),Drama|Romance|War
892,916,Roman Holiday (1953),Comedy|Romance
55,58,"Postino, Il (The Postman) (1994)",Drama|Romance
891,915,Sabrina (1954),Comedy|Romance
500,509,"Piano, The (1993)",Drama|Romance
2935,3044,Dead Again (1991),Mystery|Romance|Thriller
1056,1088,Dirty Dancing (1987),Musical|Romance
1641,1721,Titanic (1997),Drama|Romance
907,933,To Catch a Thief (1955),Comedy|Romance|Thriller
1186,1225,Amadeus (1984),Drama
581,590,Dances with Wolves (1990),Adventure|Drama|Western
3558,3668,Romeo and Juliet (1968),Drama|Romance
1258,1304,Butch Cassidy and the Sundance Kid (1969),Action|Comedy|Western
1064,1097,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
1309,1357,Shine (1996),Drama|Romance
1231,1277,Cyrano de Bergerac (1990),Action|Drama|Romance
886,908,North by Northwest (1959),Drama|Thriller
822,838,Emma (1996),Comedy|Drama|Romance
2297,2406,Romancing the Stone (1984),Action|Adventure|Comedy|Romance
2810,2919,Year of Living Dangerously (1982),Drama|Romance
1006,1035,"Sound of Music, The (1965)",Musical
904,930,Notorious (1946),Film-Noir|Romance|Thriller
888,910,Some Like It Hot (1959),Comedy|Crime
...,...,...,...
3061,3170,Hi-Yo Silver (1940),Western
3082,3191,"Quarry, The (1998)",Drama
3084,3193,Creature (1999),Documentary
3086,3195,Tess of the Storm Country (1922),Drama
3117,3226,Hellhounds on My Trail (1999),Documentary
3118,3227,"Not Love, Just Frenzy (Más que amor, frenesí) ...",Comedy|Drama|Thriller
3122,3231,"Saphead, The (1920)",Comedy
3125,3234,Train Ride to Hollywood (1978),Comedy
3168,3278,Gendernauts (1999),Documentary
3169,3279,Knockout (1999),Action|Adventure
3222,3332,"Legend of Lobo, The (1962)",Adventure|Children's
3238,3348,"Night Visitor, The (1970)",Crime|Thriller
3246,3356,Condo Painting (2000),Documentary
3259,3369,Any Number Can Win (Mélodie en sous-sol ) (1963),Crime
3273,3383,Big Fella (1937),Drama|Musical
3301,3411,Babymother (1998),Drama
3345,3455,Buddy Boy (1999),Drama|Thriller
3431,3541,Third World Cop (1999),Action
3448,3558,"Law, The (Le Legge) (1958)",Drama
3450,3560,Phantom Love (Ai No Borei) (1978),Drama
3451,3561,Stacy's Knights (1982),Drama
3472,3582,"Jails, Hospitals & Hip-Hop (2000)",Drama
3473,3583,Black Tights (Les Collants Noirs) (1960),Drama
3479,3589,"Kill, Baby... Kill! (Operazione Paura) (1966)",Horror
3520,3630,"House of Exorcism, The (La Casa dell'esorcismo...",Horror
3540,3650,Anguish (Angustia) (1986),Horror
3638,3750,Boricua's Bond (2000),Drama
3716,3829,Mad About Mambo (2000),Comedy|Romance
3743,3856,Autumn Heart (1999),Drama
3794,3907,"Prince of Central Park, The (1999)",Drama